@import url(https://fonts.googleapis.com/css?family=Alegreya:400,900italic,900,700italic,700,400italic);



/*These rules create the basic layout*/


html {
    background: #969292;
}

body {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border: 10px ridge #000;
    background: #3c3b3b;
    font-family: 'Alegreya', serif;
}

header {
    height: 400px;
    background: #600a0a;
}

article{
    width:1200px;
    height:600px;
    background:#383839;
}

footer {
    height: 50px;
    background: #000;
    text-align: center;
}


/*These rules format the site navigation*/

nav {
    width: 1200px;
    height: 100px;
    background: #000;
    position: fixed;
    top: 0;
}

ul {
    list-style-type: none;
    padding-top: 40px;
    padding-right: 25px;
    text-align: right;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    padding: 12px;
    color: #600a0a;
    font-size: 18px;
    text-transform: uppercase;
}

a:hover {
    color: #fff;
}


/*These rules format the site content*/


p {
    margin: 0;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    text-align: justify;
}

.column{
    column-count: 3;
    column-gap: 50px;
    padding: 175px 50px;
}

h2 {
    font-size: 16px;
    color: #600a0a;
    padding: 20px;
}

h1 {
    font-size: 100px;
    color: #fff;
    text-align: center;
    padding-top: 175px;
}